<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FruitsApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F91E972C276E4E15009A2EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91E9742276E4E18009A2EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91E974D276E4E18009A2EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
